### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.env.*


*.py[cod]
*$py.class

*.sass-cache/
.sass-cache/
**/.sass-cache/

*.tmp
*.temp
*.swp

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

build/
dist/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db

*.bak
*~